/venv/
/.venv/
/.env

# Ignore our attic dir
/attic/
# Ensure presence of useful directories
/cache/
/orig/
/convert/

__pycache__
*~

/.openapi-generator*
/python_migration_tool.egg-info/
/svn_auth/auth_provider_config.py
/svn_auth/generate_access_config.py
/svn_auth/svnroot-access